# Dependency directories
Hospitex-Server/node_modules/
Hospitex-Ui/node_modules/
Hospitex-Ui/.env
Hospitex-Server/.env

# Python venv
venv/
MyBot/venv/

# Files created by package managers
package-lock.json

# Log files
*.log



HospiTex-Server/.env
HospiTex-Ui/.env
MyBot/.env
